.pytest_cache
__pycache__/
projet_10.sublime-project
projet_10.sublime-workspace
nutellove_project/fr.openfoodfacts.org.products.csv
nutellove_project/settings/production.py
nutellove_project/staticfiles